html {
	height: 100%;
	font-family: 'open sans', 'helvetica', 'sans-serif';
}

body {
	background-color: #000;
	height: 100%;
	margin: 0;
	margin-top: 1em;
}

p,
.medium-text,
.large-text {
	color: #fff;
	margin: 0;
}

.large-text {
	font-size: 3em;
	font-weight: 500;
}

.medium-text {
	font-size: 1.5em;
	font-weight: 500;
}

.con,
select {
	margin-left: 50px;	
}

select {
	height: 29px;
   overflow: hidden;
   width: 240px;
}

/*=================
=== Start svg styling
=================*/

	body > svg {
		height: 70%;
		width: 80%;
		min-width: 480px;
	}

	text {
		fill: #fff;
	}

	.domain, .tick line {
		stroke: #fff;
	}

	.axis .tick line {
		display: none;
	}

	/* For the bar */
	.bar {
		transition: fill .4s ease-in;
	}

	.bar:hover {
		fill: #ffd700;
	}

/*=================
=== Title container
=================*/

	.con > svg {
		height: 3em;
		width: 80%;
		min-width: 480px;
	}

	.con path {
		stroke: #fff;
	}

	.con text {
		fill: #fff;
	}

	.counter-text {
		font-size: 2.5em;
		font-weight: 700;
	}